//.vote__icon {
//  height: 200px;
//  width: 200px;
//  position: relative;
//  border-radius: 50%;
//  border: 1px solid rgba(33, 33, 33, 0.3);
//  overflow: hidden;
//  transition: 0.3s ease-out;
//  cursor: pointer;
//  background: white;
//
//  &__img__dragon {
//    position: absolute;
//    top: 26px;
//    left: 37px;
//    max-width: 140px;
//    height: auto;
//    pointer-events: none;
//  }
//
//  &__img__samurai {
//    position: absolute;
//    top: 17px;
//    left: 49px;
//    max-width: 119px;
//    height: auto;
//    pointer-events: none;
//  }
//
//  &__img__princess {
//    position: absolute;
//    top: 10px;
//    left: 14px;
//    max-width: 177px;
//    height: auto;
//    pointer-events: none;
//  }
//
//  &:hover {
//    transform: scale(1.1);
//    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
//  }
//}
