.wave__wrapper {
  width: 100%;
  height: 70vh;
  //background: linear-gradient(#6d0eb1, #0791cf);
  position: relative;
  background: #667db6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
                  to right,
                  #667db6,
                  #0082c8,
                  #0082c8,
                  #667db6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
                  to right,
                  #667db6,
                  #0082c8,
                  #0082c8,
                  #667db6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.wave-container svg {
  display: block;
}
.appStyle__container {
  position: relative;

  //h1 {
  //  z-index: 1000;
  //}
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  background: transparent;
  fill: #61dafb;
}