.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  justify-content: center
}


.home__title{
  margin-bottom: 50px;
}

.column {
  display: flex;
  width: 100%;

  &__title {
    margin-bottom: 30px;
  }

  &__left, &__right {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    width: 50%;
  }

  &__right {
    justify-content: flex-end;
  }
}

.btn__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
