.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &__title {
    margin-top: 30px;
  }

  &__round {
    text-align: center;
    margin: 50px 0;
    font-size: 30px;
  }
}

.header__winsAndLoses {
  display: flex;
  justify-content: space-between;

  h4 {
    font-size: 30px;
    width: 400px;
  }
}
